<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1.0">
        <style>
        body {
            background-image: url("{{ url_for('static', filename='img/bckg.jpg') }}");
            background-size: cover;
        }
        </style>
    </head>
    <body>
        <header>
            <h1>Bulk Slots!</h1>
        </header>
        <main>
            <canvas width=1200 height="700" id="canny"></canvas>

        </main>
        <footer>
            <h3>Money <text id="money">1000</text></h3>
            <p>Footer</p>
        </footer>
    </body>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</html>