<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1.0">
    </head>
    <body>
        <header>
            <h1>Fire Fighter</h1>
        </header>
        <main>
            <canvas width=1200 height="700" id="canny"></canvas>

        </main>
        <footer>
            <h3>Money <text id="money">1000</text></h3>
            <p>Footer</p>
        </footer>
    </body>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/firefighter.js') }}"></script>
</html>