<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1.0">
        <style>
        body {
            background-image: url("{{ url_for('static', filename='img/bckg.jpg') }}");
            background-size: cover;
        }
        </style>
    </head>
    <body>
        <header>
            <h1>Bulk Casino!</h1>
        </header>
        <main>
            <section>
                <div class="flexy">
                    <div class="floater">
                        <p>Hello {{ data.name }},
                            <br> you have {{ data.money }} gold coins!
                            <br>You may spend them wisely!
                        </p></div>
                    <a href="/bulkslots"><button>Bulk slots</button></a>
                    <a href="/fire"><button>FireFighter</button></a>
                    <a href="/logout"><button>Logout</button></a>
                </div>

            </section>
        </main>
        <footer>

            <p>Footer</p>
        </footer>
    </body>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</html>